div.header {
  width: 960px;
  height:70px;
  margin-left: 40px;
  line-height: 70px;
  text-align: left;
  box-sizing: border-box;
  background:#4267b2;
}

.block{
  width: 700px;
  height: 800px;
  margin-left: 300px;
  box-sizing: border-box;
  background-color: ##edeef0;
  overflow: auto;
}
#template{
  display: none;
}
.news{
  width: 650px;
  height: 160px;
  margin-top:10px;
  margin-left: 40px;
  box-sizing: border-box;
  border: 1px solid #ffffff;


}
.add{
  width: 650px;
  height: 160px;
  margin-top:0px;
  margin-left: 340px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.sidebar{
  width: 260px;
  height: 960px;
  float: left;
  margin-left: 40px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}

.tic{display: none;}

#menu{
  width: 200px;
  height: 70px;
  margin-top: 5px;
}
#menu:hover{ background: #e1e5eb;cursor: pointer;}

#ad{
  width: 260px;
  height: 260px;
  box-sizing: border-box;
  }

#button {
  font-weight:700;
  position: relative;
  top:90px;
  float: right;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 2px;
  background:  #4169E0;
  box-shadow: 0 -3px #6495ED inset;
  transition: 0.2s;

}
#button:hover { background: #3389ff; }
#button:active {
  background: #21935a;
  box-shadow: 0 3px #21ff5a inset;
}

#button1 {
  weight:300px;
  height: 40px;
  margin-left: 1px;
  position: relative;
  color:blue;
  font-size: 13px;
  font-family: Сomic Sans MS;
  text-decoration: none;
  padding: .4em 7em calc(.3em + 1px);
  border-radius: 2px;
  background:  #bbc3ff;
  box-shadow: 0 -5px #8492ff inset;
  transition: 0.2s;
}
#button1:hover { background: #97a4ff; }

.close {
position: relative;
width: 15px;
height: 15px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 630px;
content: ' ';
height: 30px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

.edit {
    border:1px solid #9E9E9E;
    color: #000000;
    width: 500px;
    height: 130px;
    padding: 3px;
    text-align: left;
    margin-left: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Verdana;
    background: #FFF;
}

.bk {
    background:#fff  repeat-x;
}
textarea { resize: none; margin-top: 5px;}

li {list-style-type:none;}

h1 {
font-family: 'Times New Roman', Times, serif;
font-size: 200%;
margin-left: 20px;
margin-right: 3px;
color: white;
}

h2 {
font-family: 'Times New Roman', Times, serif;
font-size: 120%;
text-align:center;
margin-top: 20px;
margin-right: 3px;
color: #2e88c5;
}

h3{
  font-family: 'Сomic Sans MS', Times, serif;
  font-size: 100%;
  text-align:center;
  color: black;
}
h4{
  font-family: 'Сomic Sans MS', Times, serif;
  font-size: 80%;
  text-align:center;
  color: gray;
}
h5{
  font-family: 'Mistral', Times, serif;
  font-size: 250%;
  text-align:center;
  color: #eb2fc8;
}
